* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  /* indsæt font style */
  /* indsæt font weight */
}

h2 {
  /* indsæt font style */
  /* indsæt font weight */
}

h3 {
  /* indsæt font style */
  /* indsæt font weight */
}

p {
  /* indsæt font style */
  /* indsæt font weight */
}

/* Indsæt andre generelle css regler som du synes passer Tine :) */

header {
  background-color: #141429;
}
