---
import Nav from "../components/Nav.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>About us</title>
	</head>
	<body>
		<header>
			<Nav />
		</header>

		<main>
			<section>
				<h1>About:</h1>
			<h2>Copenhagen Light Festival</h2>
			<h3>2024</h3>
			</section>
			
			<article class="grid_1-1_about">
				<div>
					<h2>What is Copenhagen light festival?</h2>
					<p>Copenhagen Light Festival is an annual light festival that transforms the quiet and cold winter darkness into a unique celebration of light art, lighting design and illumination in the center of Copenhagen.</p>
					<p>In three weeks of February the festival presents a wide range of light based works – such as sculpture, installation, projection mapping, event and illumination created by both established and upcoming light artists, lighting designers, students and organizations.</p>
					<p>The Copenhagen Light Festival brings together all the great forces – light artists and designers, students, organizations and commercial players – around a large non-profit project, that includes and enhances other February events as well</p>
				</div>
				<div>
					<h2>What you can experience:</h2>
					<p>Copenhagen Light Festival is an annual light festival that transforms the quiet and cold winter darkness into a unique celebration.
					</p>
					<p>The festival exhibits temporary light works and experiences while at the same time paying tribute to the permanent works in Copenhagen.</p>
					<h3>The festival program can contain:</h3>
					<ul>
						<li>Beautiful, captivating temporary sculptural elements.</li>
						<li>Staging of urban spaces, historic buildings and the cultural sites.</li>
						<li>Artistic lighting experiences</li>
						<li>Multisensory experiences with light as a main element</li>
						<li>Dynamic light experiences such as film, moving heads, time pixel mapping</li>
						<li>Listed activities such as light walks, city cycling or night-running with lights</li>
						<li>Interactive light experiences where the audience can physically controle the experience</li>
						<li>The city’s existing light experiences are included and highlighted</li>
						<li>Light based events</li>
					</ul>
					<p>Sustainability, Green Mobility, Equality and Diversity are important elements
						in creative / artistic interaction with the strong Danish traditions and competencies in light (and darkness).
					</p>
				</div>
			</article>
			
			<section>
				<h2>Contact us:</h2>
				<div>
				<img src="mail icon" alt="mail icon">
				<a href = "mailto:info@copenhagenlightfestival.org">
					info@copenhagenlightfestival.org
					</a>
					<img src="phone icon" alt="phone icon">
					<a href="tel:(+45) 25556604">(+45) 25556604</a>
				</div>

				<div>
					<p>Dorte Burmester Wium
						Sekretariatsleder – Head of secretariat Copenhagen Light Festival </p>					 
					<img src="mail icon" alt="mail icon">
					<a href = "mailto:dorte@copenhagenlightfestival.org">
						dorte@copenhagenlightfestival.org
						</a>
						<img src="phone icon" alt="phone icon">
					<a href="tel:(+45) 25 55 66 04">(+45) 25 55 66 04</a>
					</div>

					<div>
						<p>Sofia Ivarsson
							Programkoordinator / Program Coordinator </p>
						<img src="mail icon" alt="mail icon">
						<a href = "mailto:sofia@copenhagenlightfestival.org">
							sofia@copenhagenlightfestival.org </a>
							<img src="phone icon" alt="phone icon">
				<p>CLF Office phone:</p>
					<a href="tel:(+45) 25 55 66 05">(+45) 25 55 66 05</a>
						</div>

	<div>Contact for press</div>
	<img src="" alt="arrow pop up icon">
	<!--lav pop up window, prøv vejledning -->

<!-- tekst inde i pop op vindue: 
Inquiries regarding press,
contact the secretariat

+ 45 25 55 66 04

info@copenhagenlightfestival.org

If video and and stills are needed urgently please contact
ANDERS KONGSHAUG
anders@copenhagenlightfestival.org


Venligst brug/ Please 
use:@Instagram: @cphlightfestFacebook: @copenhagenlightfestivalTikTok: @copenhagenlightfestival.Linkedin: @copenhagen light festivalTwitter: @CPH_Light_Fest
#Copenhagen Light Festival
-->


	<div>Contact for artists</div>
	<img src="" alt="arrow pop up icon">
	<!--lav pop up window, prøv vejledning -->


	<!--tekst inde i pop op vindue: 
	 Open Call for Copenhagen Light Festival

Open Call is open and the deadline for 

submissions is 5th. june 23.59 danish time.
-->
			</section>
<p>Foreningen Københavns Lysfestival/Copenhagen Light Festival</p>
	<p>Toldbodgade 39, 1253 København K · vat/cvr DK-40793232</p>
		</main>
		<footer></footer>
	</body>
</html>
