---
import Nav from "../components/Nav.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="https://use.typekit.net/qzd2kga.css">
		<title>Astro</title>
	</head>
	<body>
		<header>
			<Nav />
		</header>
		<main>
			<img src="" alt="">
			<h3>event navn</h3>
			<h4>artist navn</h4>
			<p>event info</p>
			<p>artist info</p>
			<p>additional info</p>
			<h4>artist website</h4>
			<h4>artist SoMe</h4>
			<p>Credits</p>

		</main>
		<footer></footer>
	</body>
</html>
