---
import Nav from "../components/Nav.astro"
import Video from "../components/Video.astro"
import '../styles/style.css';
import '../styles/index.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="https://use.typekit.net/qzd2kga.css">
		<title>CPH Light Festival</title>
	</head>
	<body>
		<header>
			<Nav />
		</header>
		<main>

<!-- Forside video -->

<Video />

<!-- Overskrift -->

<div class="cphlightfest_title_container">
<h1><span class="copenhagen_h1">COPENHAGEN</span>
	<br>
	<span class="lightfest_h1">LIGHT FESTIVAL</span>
</h1>
<h2 class="year">2024</h2>
</div>
<div class="main_grid_container">
<!-- paragraf citat højre-->
<div class="text-container">
<p>February, the coldest, darkest month. in the midst of the wild, stormy and 
gloomy Scandinavian winter.Folks gather inside to hide away
While we are lighting up Copenhagen
To show you our beautiful city
From it’s darkest place. </p> </div>

<div class="dropdown-container">
<!-- Drop down menu 1 -->
<h4 class="facts_container">Facts about Copenhagen Light Festival 2023 
<img src="../public/angle-small-down.png"></h4>

<!-- Drop down menu 2 -->
<h4 class="sustain_container">Sustainability <img src="../public/angle-small-down.png"></h4>
</div>
</div>
		</main>
		<footer>FOOTER</footer>
	</body>
</html>
