---
import Nav from "../components/Nav.astro"
import ProgramCard from "../components/ProgramCard.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="https://use.typekit.net/qzd2kga.css">
		<title>Astro</title>
	</head>
	<body>
		<header>
			<Nav />
		</header>
		<div class="h2-container">
			<h2>Program</h2>
		</div>
		<main>
			<section class="program-grid">
				<div class="card-pair">
					<ProgramCard />
					<ProgramCard>
						<img src="https://uc650398b8b1e6cc8d36c81e0afd.previews.dropboxusercontent.com/p/thumb/ACCGOCmSz4z9PjtM4r1dLGf7xSr9LgMAuq7cALNa-LCGvcnMD5mI6vZn6xTQogsOZbo_MiKbIDCan9QKnyvmbO2weWtSZCiP2RjgiHfAoyqGrV5ZfMBs_r9-i1_3EG_LJu75WdUlYjkNtqyDtYKJW_AZH4_IwQFpSkO4TCVSiSEUb9WAtacIfobGL9fTzZlZudH9vmeoGOcmJlrgob_2HJNq4cJApEsss1ZlOs0eZijcmFl8JZNHbHYFvZdz3avg2QeOiQ8p3hqkIi7-FxWBOMRiNyhap2vt2VV61YNjtMyIVqlBRClPnt2OSYd0K4HDdQuaJ3KfMS-tuRywR0pES9sV/p.jpeg" alt="Archane sun installation">
					</ProgramCard>
				</div>
				<div class="card-pair">
					<ProgramCard />
					<ProgramCard />
				</div>
				<div class="card-pair">
					<ProgramCard />
					<ProgramCard />
				</div>
				<div class="card-pair">
					<ProgramCard />
					<ProgramCard />
				</div>
			</section>
		</main>
		<footer></footer>
	</body>
</html>

<style>
	.h2-container{
		margin: 20px 0 20px;
		text-align: center;
	}
	.program-grid {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 10px;
	}

	.card-pair{
		display: flex;
		gap: 10px;
	}
</style>